<nz-table
  #table
  [nzData]="items"
  [nzLoading]="loading"
  [nzScroll]="{ x: scrollX, y: scrollY }"
  [nzBordered]="settingValue.bordered"
  [nzOuterBordered]="true"
  [nzSimple]="settingValue.simple"
  [nzTableLayout]="settingValue.tableLayout"
  [nzPaginationType]="settingValue.paginationType"
  [nzPaginationPosition]="settingValue.position"
  [nzShowSizeChanger]="settingValue.sizeChanger"
  [nzShowPagination]="settingValue.pagination"
  [nzFooter]="settingValue.footer ? 'Here is Footer' : null"
  [nzTitle]="settingValue.title ? 'Here is Title' : null"
  [nzSize]="settingValue.size"
  [nzFrontPagination]="false"
  [nzTotal]="totalSize"
  [nzPageIndex]="page"
  (nzPageIndexChange)="onPageChange($event)"
>
  <thead>
    <tr>
      @for (col of columns(); track col.key) {
      <th
        [nzLeft]="col.fixed == 'left'"
        [nzRight]="col.fixed == 'right'"
        [nzWidth]="col.width ?? getColumnWidth(col)"
        [hidden]="col.hidden"
      >
        {{ col.label }}
      </th>
      }
    </tr>
  </thead>

  <tbody>
    @for (row of items; let i = $index; track i) {
    <tr>
      @for (col of columns(); track col.key) {
      <td
        [hidden]="col.hidden"
        [nzLeft]="col.fixed == 'left'"
        [nzRight]="col.fixed == 'right'"
      >
        @if (getTemplate(col.key)) {
        <ng-container
          [ngTemplateOutlet]="getTemplate(col.key)"
          [ngTemplateOutletContext]="{ $implicit: { item: row, index: i } }"
        >
        </ng-container>
        } @else {
        <ng-container>
          @if (col.type === 'date') {
          {{ getValue(col.key, row) | date : "dd/MM/yyyy" }}
          } @else if (col.type === 'time') {
          {{ getValue(col.key, row) | date : "HH:mm" }}
          } @else if (col.type === 'datetime') {
          {{ getValue(col.key, row) | date : "dd/MM/yyyy HH:mm" }}
          } @else if(col.format ){
          {{ col.format(getValue(col.key, row), row) }}
          } @else {
          {{ getValue(col.key, row) }}
          }
        </ng-container>
        }
      </td>
      }
    </tr>
    }
  </tbody>
</nz-table>
