@if(isVisible && !isHidden) {
<div [formGroup]="form()">
  <label [attr.for]="field().name">
    @if(isRequired) {<span class="text-red-500">*</span>}
    {{ field().label }}
  </label>
  <div class="*:w-full w-full">
    @if (isTextField) {
    <input [formControlName]="field().name" [id]="field().name" type="text" />
    } @if (isSelectField) {
    <select [id]="field().name" [formControlName]="field().name">
      @for (opt of selectOptions; track opt) {
      <option [value]="opt.value">{{ opt.label }}</option>
      }
    </select>

    }
  </div>
  @if (!isValid && isDirty && !isReadonly) {
  <div class="text-red-500 text-xs">
    <ng-container i18n="@@defaultFieldValidationHint"
      >{{ field().name }} est invalide</ng-container
    >
  </div>
  }
</div>
}
