@if(isVisible) {
<div [formGroup]="form()">
  <nz-form-item>
    <div
      [ngClass]="{
        '!invisible': adapter.isCheckField
      }"
    >
      <ng-container [ngTemplateOutlet]="labelTemplate" />
    </div>

    <nz-form-control
      class="!col-span-2"
      [nzValidateStatus]="isDirty && !isValid ? 'error' : ''"
      [nzHasFeedback]="field().showFeedback"
      [nzErrorTip]="validatorHint"
      [nzExtra]="isDirty && !isValid ? undefined : field().hint"
    >
      @if(!loading) { @if (adapter.isTextField) {
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          nz-input
          [formControlName]="field().name"
          [id]="field().name"
          type="text"
          [placeholder]="field().placeholder"
          [nzAutocomplete]="auto"
        />
      </nz-input-group>
      <nz-autocomplete
        [nzDataSource]="autoCompleteOptions"
        nzBackfill
        #auto
      ></nz-autocomplete>
      } @else if (adapter.isNumericField) {
      <nz-input-number
        class="!w-full"
        [formControlName]="field().name"
        [nzControls]="false"
        [nzId]="field().name"
        [nzPlaceHolder]="field().placeholder || null"
        [nzMin]="adapter.fieldAsNumericField.min"
        [nzMax]="adapter.fieldAsNumericField.max"
      />
      } @else if (adapter.isDateField) {
      <nz-date-picker
        class="!w-full"
        [nzShowTime]="adapter.fieldAsDateField.type === 'datetime'"
        [nzMode]="
          adapter.fieldAsDateField.type === 'datetime'
            ? 'date'
            : adapter.fieldAsDateField.type
        "
        [formControlName]="field().name"
        [nzAllowClear]="true"
        [nzId]="field().name"
        [nzFormat]="dateFormat"
      ></nz-date-picker>
      } @else if(adapter.isTimeField) {
      <nz-time-picker
        [formControlName]="field().name"
        [nzId]="field().name"
        class="!w-full"
        [nzAllowEmpty]="true"
        [nzHideDisabledOptions]="true"
      ></nz-time-picker>
      }@else if(adapter.isAreaField) {
      <textarea
        nz-input
        [id]="field().name"
        [formControlName]="field().name"
        [placeholder]="field().placeholder || field().label"
        [rows]="adapter.fieldAsAreaField.rows"
      ></textarea>
      } @else if (adapter.isSelectField || adapter.isMultiSelectField) {
      <nz-select
        [formControlName]="field().name"
        [nzId]="field().name"
        [nzShowSearch]="true"
        [nzAllowClear]="true"
        [nzMode]="adapter.isMultiSelectField ? 'multiple' : 'default'"
        [nzPlaceHolder]="field().placeholder || null"
      >
        @for (item of selectOptions; track $index) { @if (typeof item.label ===
        'string') {
        <nz-option
          [nzLabel]="item.label"
          [nzValue]="item.value"
          [nzDisabled]="item.disabled"
        >
        </nz-option>
        } }
      </nz-select>
      } @else if(adapter.isRadioField) {
      <nz-radio-group
        [nzButtonStyle]="'solid'"
        [formControlName]="field().name"
        [nzName]="field().name"
      >
        @for (item of selectOptions; track $index) { @if (typeof item.label
        ==='string') { @if (adapter.fieldAsRadioField.type === 'default') {
        <label nz-radio [nzValue]="item.value">{{ item.label }}</label>
        } @else {
        <label nz-radio-button [nzValue]="item.value">{{ item.label }}</label>
        } } }
      </nz-radio-group>
      } @else if (adapter.isCheckField) { @if(adapter.fieldAsCheckField.type ==
      'default') {
      <label nz-checkbox [formControlName]="field().name" [nzId]="field().name">
        <ng-container [ngTemplateOutlet]="labelTemplate" />
      </label>
      } @else {
      <div class="flex gap-2">
        <nz-switch
          [formControlName]="field().name"
          [nzId]="field().name"
        ></nz-switch>
        <ng-container [ngTemplateOutlet]="labelTemplate" />
      </div>
      } } @else if(adapter.isTemplateField) {
      <ng-container
        [ngTemplateOutlet]="adapter.fieldAsTemplateField.template"
      />
      } } @else {
      <div class="h-[32px] w-full rounded-lg animate-pulse bg-zinc-200"></div>
      }
    </nz-form-control>
  </nz-form-item>
</div>
}

<ng-template #labelTemplate>
  <nz-form-label
    class="font-semibold mt-0.5 !text-left"
    [style]="
      inline() && highestLabelWidth()
        ? { width: highestLabelWidth() + 'px' }
        : {}
    "
    [ngClass]="{
      '!invisible': !field().label
    }"
    [nzRequired]="isRequired"
    [nzFor]="field().name"
    [nzNoColon]="adapter.isCheckField || !field().label"
  >
    @if (adapter.templateLabel) {
    <ng-container [ngTemplateOutlet]="adapter.templateLabel" />
    }@else {
    {{ field().label }}
    }
  </nz-form-label>
</ng-template>

<ng-template #suffixTemplate>
  @if (softLoading) {
  <app-icon class="animate-spin *:text-primary" icon="loader-2" />
  }
</ng-template>
