<div
  [ngClass]="{
    'mb-2': !this.primaryFields().length
  }"
  class="flex gap-2"
>
  @if(this.primaryFields().length) {
  <app-form
    [fields]="_primaryFields()"
    [showSubmit]="false"
    [formGroup]="primaryFormGroup()"
    [submitOnChange]="true"
    (onSubmit)="handlePrimaryValueChanges($event)"
  />
  }
  <app-button [text]="title" (onClick)="openFilter()" icon="filter" />
</div>

<ng-template #drawerTemplate>
  <app-form
    [fields]="fields()"
    [showReset]="showReset()"
    [showSubmit]="showSubmit()"
    [formGroup]="formGroup()"
    (onFilter)="onFilter.emit($event)"
    (onReset)="handleReset($event)"
    (onSubmit)="handleSubmit($event)"
    (onValueChanges)="onValueChanges.emit($event)"
  />
</ng-template>
