<div class="flex justify-between gap-64">
  <app-form
    [fields]="_primaryFields()"
    [showSubmit]="false"
    [formGroup]="primaryFormGroup()"
    (onFilter)="onFilter.emit($event)"
    (onReset)="onReset.emit()"
    (onValueChanges)="handlePrimaryValueChanges($event)"
  />
  <app-form
    [fields]="fields()"
    [showReset]="showReset()"
    [showSubmit]="showSubmit()"
    [formGroup]="formGroup()"
    (onFilter)="onFilter.emit($event)"
    (onReset)="onReset.emit()"
    (onValueChanges)="handleValueChanges($event)"
  />
</div>
