<div style="align-items: center">
  <div class="gap-2 flex items-center pt-2">
    <button nz-button nzType="primary" (click)="filter()">filter drawer</button>
    <button
      nz-button
      (click)="filterTemplate(myTemplateRef, myFooterTemplateRef)"
    >
      filter template
    </button>
  </div>

  <div class="gap-2 flex items-center pt-2">
    <button nz-button (click)="openTemplateModal()">modal template</button>
    <button nz-button (click)="openComponentModal()">modal component</button>
    <button nz-button (click)="openInfoModal()">modal openInfoModal</button>
  </div>
  <br />
  <app-table
    [itemTemplates]="{ action: actionTemplate }"
    [columns]="columns"
    [getter]="getFakeData"
    [options]="{
      bordered: true,
      fixHeader: '450px',
    }"
  ></app-table>
</div>

<ng-template #actionTemplate let-data let-index>
  <button
    nz-button
    nzType="link"
    (click)="filterTemplate(data.item.id, data.item.id)"
  >
    Action {{ data.item.id }}
  </button>
</ng-template>

<ng-template #myTemplateRef let-data let-drawerRef="drawerRef">
  value: {{ data?.value }}
  <button nz-button (click)="drawerRef?.close()">Close Drawer</button>
</ng-template>
<ng-template #myFooterTemplateRef>
  <button nz-button nzType="primary" (click)="close()">Close Drawer</button>
</ng-template>

<ng-template #myTemplateRefModal let-data>
  value: {{ data?.name }}
  <button nz-button (click)="modalService.closeAll()">Close Template</button>
</ng-template>
<ng-template #myFooterTemplateModal let-data>
  <button nz-button (click)="modalService.closeAll()">Close Template</button>
</ng-template>
