<form
  #form
  (ngSubmit)="handleSubmit()"
  [formGroup]="_formGroup()"
  [nzLayout]="inline() ? 'horizontal' : 'vertical'"
  class="form md:!grid flex flex-col grid-cols-24 gap-x-4 gap-y-2"
  [id]="_formId()"
  nz-form
>
  @for (field of fields(); track field) {
  <div
    [class]="getColSpan(field) + ' ' + getHeight(field)"
    [ngClass]="['form-item-' + field.name.toLowerCase()]"
  >
    <app-form-field
      [highestLabelWidth]="labelWidth"
      [field]="field"
      [form]="_formGroup()"
      [inline]="inline()"
    />
  </div>
  } @if (showReset() || showSubmit()) {
  <div class="col-span-24 flex justify-end form-footer-wrapper">
    <nz-form-item>
      <nz-form-control>
        <div class="flex gap-2">
          @if(showReset()) {
          <button
            nz-button
            nzDanger
            type="button"
            [nzLoading]="loading()"
            (click)="handleReset()"
          >
            Reset
          </button>
          } @if(showSubmit()) {
          <button nz-button [nzLoading]="loading()" nzType="primary">
            Valider
          </button>
          }
        </div>
      </nz-form-control>
    </nz-form-item>
  </div>
  }
</form>
