<div class="p-4">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/', 'test', 'form']">Form</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <a [routerLink]="['/', 'test', 'table']">Table</a>
    </li>
  </ul>
  <div class="mt-4 p-4">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="gap-4 flex p-4">
  <app-button
    text="async action"
    icon="plus"
    color="success"
    [loading]="this.loading"
    (onClick)="fakeActionAsync()"
  >
  </app-button>
  <app-button
    text="normal action"
    [disabled]="this.disabled"
    color="primary"
    (onClick)="normalFakeAction()"
  >
  </app-button>
  <app-button
    icon="plus"
    color="custom-test"
    type="dashed"
    (onClick)="normalFakeAction()"
  >
  </app-button>
</div>
<div class="fixed bottom-6 right-6 gap-4 flex items-center justify-center">
  <a
    href="https://ng.ant.design/components/overview/en"
    target="_blank"
    class="flex items-center justify-center !bg-red-500 w-12 h-12 rounded-full"
  >
    <app-icon class="*:text-white" icon="components" />
  </a>
  <a
    href="https://tabler.io/icons"
    target="_blank"
    class="flex items-center justify-center !bg-blue-500 w-12 h-12 rounded-full"
  >
    <app-icon class="*:text-white" icon="brand-tabler" />
  </a>
</div>
