/* You can add global styles to this file, and also import other style files */

@use "./assets/colors.scss" as colors;

@source inline("col-span-{1..24..1}");

input {
  border: 1px solid black;
}

.btn-success.ant-btn:not([disabled="true"]) {
  border-color: var(--success-color);
  background-color: var(--success-color);
  color: white;

  .ti {
    color: white;
  }

  &:hover {
    background-color: var(--success-color);
    border-color: var(--success-color);
  }
}

.btn-primary.ant-btn:not([disabled="true"]) {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;

  .ti {
    color: white;
  }

  &:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.btn-danger.ant-btn:not([disabled="true"]) {
  border-color: var(--danger-color);
  background-color: var(--danger-color);
  color: white;

  .ti {
    color: white;
  }

  &:hover {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
  }
}

.btn-warning.ant-btn:not([disabled="true"]) {
  border-color: var(--warning-color);
  background-color: var(--warning-color);
  color: white;

  .ti {
    color: white;
  }

  &:hover {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
  }
}

.btn-text.ant-btn:not([disabled="true"]) {
  border-color: transparent;
  background-color: var(--text-btn-color);
  color: black;

  .ti {
    color: black;
  }

  &:hover {
    background-color: var(--text-btn-color);
    border-color: transparent;
  }
}

.btn-custom-test.ant-btn:not([disabled="true"]) {
  border-color: var(--custom-test-color);
  background-color: var(--custom-test-color);
  color: white;

  .ti {
    color: white;
  }

  &:hover {
    background-color: var(--custom-test-color);
    border-color: var(--custom-test-color);
  }
}

.ant-form-item {
  margin-bottom: 14px !important;
}

.ant-select-selection-item {
  height: 30px;
}
